<!DOCTYPE html>

<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>DJL - Ace Login</title>
    @*引用基本css*@
    @Styles.Render("~/bundles/css")

    <!--[if IE 7]>
          <link rel="stylesheet" href="@Url.Content("~/Content/Ace/font-awesome-ie7.min.css")" />
    <![endif]-->

    @Styles.Render("~/bundles/acecss")

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="@Url.Content("~/Content/Ace/ace-ie.min.css")" />
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="@Url.Content("~/Scripts/Ace/html5shiv.js")"></script>
        <script src="@Url.Content("~/Scripts/Ace/respond.min.js")"></script>
    <![endif]-->

    @RenderSection(name: "header", required: false)
</head>
<body class="login-layout">
    @RenderBody()
    @*引入基本js*@

    <!--[if !IE]> -->
    <script src="@Url.Content("~/Scripts/Ace/jquery-2.0.3.min.js")"></script>
    <!-- <![endif]-->

    <!--[if lt IE]>
       <script src="@Url.Content("~/Scripts/Ace/jquery-1.10.2.min.js")"></script>
    <![endif]-->

    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='~/Scripts/Ace/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>

    @Scripts.Render("~/bundles/jqueryvalidate")

    @RenderSection(name: "footer", required: false)
</body>
</html>
