@model DJLNET.WebMvc.Models.LoginModel
@{
    this.Layout = "~/Views/Shared/Ace/_LoginLayout.cshtml";
}

<div class="main-container">
    <div class="main-content" style="margin-top:10%;">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container">
                    <div class="center">
                        <h1>
                            <i class="icon-leaf green"></i>
                            <span class="red">Ace</span>
                            <span class="white">应用程序</span>
                        </h1>
                        <h4 class="blue">&copy; DJLNET</h4>
                    </div>
                    <div class="position-relative">
                        <div class="login-box visible widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header blue lighter bigger">
                                        <i class="icon-coffee green"></i>
                                        请输入您的登录信息
                                    </h4>
                                    <form action="@Url.Action("Login","Home")" method="post" novalidate>
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("returnUrl",(string)ViewBag.ReturnUrl)
                                        <fieldset>
                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "用户名" })
                                                    @Html.ValidationMessage($"{nameof(Model.Name)}", new { @class = "text-danger" })
                                                    <i class="icon-user"></i>
                                                </span>
                                            </label>
                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    @Html.PasswordFor(x => x.Password,
                                                                      new { @class = "form-control", placeholder = "登陆密码" })
                                                    @Html.ValidationMessage($"{nameof(Model.Password)}", new { @class = "text-danger" })
                                                    <i class="icon-lock"></i>
                                                </span>
                                            </label>
                                            @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                                            <div class="clearfix">
                                                <label class="inline">
                                                    <input id="rememberMe" type="checkbox" class="ace" checked />
                                                    <span class="lbl"> 记住我</span>
                                                </label>

                                                <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                                                    <i class="icon-key"></i>
                                                    登陆
                                                </button>
                                            </div>
                                        </fieldset>
                                        <input type="hidden" name="RememberMe" id="hidden" value="true" />
                                    </form>
                                </div><!-- /widget-main -->
                            </div><!-- /widget-body -->
                        </div><!-- /login-box -->
                    </div><!-- /position-relative -->
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div>
</div>

@section footer{
    <script type="text/javascript">
        $(function () {
            $('#rememberMe').on('change', function () {
                var $this = $(this);
                if ($this.is(':checked')) {
                    $('#hidden').val('true');
                } else {
                    $('#hidden').val('false');
                }
            });
        });
    </script>
}